.Login {
  display:flex;
  justify-content:right;
  align-items:center;
  margin:10px 20px 0 0 ;
}
.Login p {
  line-height:40px;
}
.Login div {
  margin-left:15px;
  font-weight:600;
  cursor: pointer;
  background:#19cb01;
  color:#fff;
  padding:10px 15px;
  border-radius:10px;
}