.Post {
  display:flex;
  padding:15px 10px;
  border-bottom:0.5px solid var(--light_g) ;
  cursor: pointer;
}
.thumbnail {
  width:90px;
  max-height:57px;
  margin-right:10px;
  border-radius:10px;
}
.thumbnail img {
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
}
.title {
  display:flex;
  align-items:top;
  margin-bottom:8px;
}
.writer {
  font-size:14px;
}
.date {
  color:rgb(126, 126, 126);
  font-size:14px;
}
.view {
  color:rgb(51, 51, 51);
  font-size:14px;
}
.category {
  padding:2px 8px;
  font-size:12px;
  border-radius:5px;
  margin-right:7px;
}
.music {
  border:1px solid #19cb01;
}
.live {
  border:1px solid #8b80f0;
}
.detail {
  display:flex;
  align-items:flex-end;
  padding:0 5px;
}
.detail div {
  margin-right:12px;
}