.Post {
  display:flex;
  padding:15px 10px;
  border-bottom:0.5px solid var(--light_g) ;
  cursor: pointer;
}
.thumbnail {
  width:90px;
  max-height:57px;
  margin-right:10px;
  border-radius:10px;
}
.thumbnail img {
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
}
.title {
  display:flex;
  align-items:top;
  margin-bottom:8px;
}
.category {
  background:var(--light_g);
  padding:3px 8px;
  font-size:14px;
  border-radius:5px;
  margin-right:7px;
}
.detail {
  display:flex;
  padding:0 5px;
}
.detail div {
  margin-right:12px;
}